.wrapper {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.wrapper .list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper .list li{
    margin-bottom: 24px;
}